header {
    height: 100px;
    background-color: gray;
    box-shadow: 5px 5px 15px 5px #000000;

    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 60px;
}

a {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    text-decoration: none;
}
a:hover {
    color: blue;
    background-color: lightgray;
}

div {
    display:flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}

footer {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}